* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	background-color: #f5f5f5;
}

#todo {
	width: 575px;
	margin: 20px auto 0 auto;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: relative;
}

div.title {
	color: #EAD7D7;
	text-align: center;
	font-size: 100px;
	line-height: 100px;
}

.todo-list-input {
	margin: 20px 0 0 0;
	text-align: center;
	box-shadow: -3px 30px 40px 0 #ddd;
}

.todo-list-input-checkbox {
	width: 34px;
	height: 60px;
	margin: 3px 3px 3px 4px;
	border: none;
	outline: none;
	-webkit-appearance: none;
	position: absolute;
	top: 120px;
}

input.todo-list-input-checkbox::before {
	content: "❯";
	font-size: 22px;
	color: #E6E6E6;
	padding: 5px 15px;
	transform: rotate(90deg);
	position: absolute;
	top: 10px;
	text-align: center;
	border: none;
}

.todo-list-input-textarea {
	padding: 16px 16px 16px 60px;
	border-style: none;
	border-bottom: 1px solid #ddd;
	width: 499px;
	font-size: 24px;
	color: #4D4D4D;
	outline: none;
}

::-webkit-input-placeholder {
	color: #E6E6E6;
	font-style: italic;
}

.todo-text-lists li {
	width: 575px;
	border-bottom: 1px solid #ddd;
	box-shadow: -3px 30px 40px 0 #ddd;
	background-color: #fff;
	overflow: hidden;
}

.todo-text-list-checkbox {
	opacity: 0;
}

.todo-text-list-checkbox-diy {
	display: block;
	width: 40px;
	height: 40px;
	margin: 9px 20px 9px 0;
	float: left;
	background-image: url(unchecked.svg);
}

li.done .todo-text-list-checkbox-diy {
	background-image: url(checked.svg);
}

.todo-text-list-textarea {
	display: block;
	width: 450px;
	margin-top: 17px;
	float: left;
	color: #4D4D4D;
	font-size: 24px;
	line-height: 24px;
	transition: color 0.3s linear;
}

li.done span {
	color: #E6E6E6;
	text-decoration: line-through;
}

.todo-text-list-delbtn {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	margin: auto 0;
	color: #cc9a9a;
	margin-top: 10px;
	transition: opacity 0.2s ease-out;
	opacity: 0;
}
.todo-text-list-delbtn::after {
	content: '×';
	color: #cc9a9a;
	font-size: 30px;
}

.todo-text-lists li:hover .todo-text-list-delbtn {
	opacity: 1;
}

.todo-footer {
	width: 545px;
	height: 21px;
	margin-left: 25px;
	margin: 0 auto 0 auto;
	background-color: #fff;
	box-shadow: -3px 30px 40px 0 #ddd;
	color: #777777;
	font-size: 14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.todo-footer {
	font-size: 14px;
	padding: 10px 15px 10px 15px;
}

div.todo-footer .todo-fooder-count {
	display: block;
	width: 75px;
	line-height: 1.4em;
	margin-right: 95px;
	padding: 3px 7px 3px 7px;
	float: left;
}

div.todo-footer ul {
	display: block;
	float: left;
	overflow: hidden;
}

.todo-footer ul li {
	margin: 0 5px 0 5px;
	padding: 3px 7px 3px 7px;
	border: 1px solid transparent;
	border-radius: 3px;
	border-color: #fff;
	float: left;
}

.todo-footer ul li:hover {
	border: 1px solid transparent;
	border-radius: 3px;
	border-color: rgba(175, 47, 47, 0.1);
}

li.selected {
	border: 1px solid transparent;
	border-radius: 3px;
	border-color: rgba(175, 47, 47, 0.2);
}

div.todo-footer span {
	float: right;
}

div.todo-footer span:hover {
	text-decoration: underline;
}
